body{
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
    max-width: 700px;
    margin: auto;
}

.photo {
    border-radius: 50%;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    margin-top: 3%;
    margin-right: 8%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    flex: 1 1 0%;
}

.header h1 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header p {
    text-wrap: pretty;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
    max-width: 25rem;
}

.box {
    background-color: rgb(228, 228, 228, 0.5);
    padding : 10px;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 7%;
    padding-left: 20px;
    padding-right: 20px;
    text-wrap: pretty;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1rem;
    justify-content: space-between;

}


.neg-box {
    background-color: rgba(255, 255, 255, 0.5);
    padding : 10px;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 7%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    text-wrap: pretty;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1rem;
    justify-content: space-between;
}


.icon {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    --tw-ring-offset-color: hsl(var(--background));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: hsl(var(--background));
    border-color: hsl(var(--input));
    border-width: 1px;
    border-radius: calc(var(--radius) - 2px);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    color: inherit;
    text-decoration: inherit;
}


.icon-size {
    width: 1.3rem;
    height: 1.3rem;
}

.icon-space {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
    margin-left: calc(0.5rem * var(--tw-space-y-reverse));
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.font-mono {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
.pt-1 {
    padding-top: 0.25rem;
}
.gap-x-1 {
    -moz-column-gap: .25rem;
    column-gap: 1rem;
}
.flex {
    display: flex;
}

.bold {
    font-weight: 700;
}

.justify {
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}

/* should fit at any page width */
.mini-menu {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    column-gap: 3rem;
    margin-top: 1%;
    margin-bottom: 5%;
}

@media (max-width: 767px) {
    .mini-menu {
      column-gap: 1.5rem;
      flex-wrap: wrap; /* Allow the menu items to wrap to the next line */
      justify-content: center; /* Center the menu items horizontally */
      margin-top: 5%;
      margin-bottom: 10%;
    }
}

.normal-text {
    text-wrap: pretty;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
    max-width: 40rem;
}

.small-text {
    text-wrap: pretty;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: hsl(var(--muted-foreground));
    font-size: .760rem;
    line-height: 1rem;
    max-width: 40rem;
}

.normal-text-mini-header {
    text-wrap: pretty;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: hsl(var(--muted-foreground));
    font-size: 1.05rem;
    line-height: 1.25rem;
    max-width: 40rem;
    text-align: center;
}

a{
    font-size: 1em;
    /* border-style: solid; */
    border-color: var(--color-dark);
    border-width: 0 0 2px 0;

    background-image: linear-gradient(45deg, var(--color-light) 4.99%, var(--color-dark) 5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-size: 5%;
    background-repeat: repeat;
    transition: background-size 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

a:link, a:visited{
    background-size: 5%;
    border-color: var(--color-dark);
}

a:hover, a:active{
    background-size: 4000%;
    border-color: var(--color-light);
}

:root{
    --color-dark: black;
    --color-light: #ff5782;
}

.footer {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    font-size: .750rem;
    line-height: 1.25rem;
    color: gray;
    align-items: center;
    justify-content: center;
}

/*  */

.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
    object-fit: contain;
}
.ico img {
    border-radius: 5px;
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
    object-fit: contain;
}

.ico svg {
    border-radius: 5px;
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
    object-fit: contain;
}

.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: .770rem;
    padding-left: 20px;
    padding-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.entry {
}

.entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}

.timespan {
    grid-column: span 1;
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
    color: #bbb;
}